<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <br> <br>
                <h3>Create New Listing :</h3>
                <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" placeholder="Add a Catcy Title" type="text" class="form-control"
                            required id="title">
                        <div class="valid-feedback">Title looks good</div>
                        <div class="invalid-feedback">Title Should be vaild</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" type="text" row="10" col="30"
                            class="form-control" required id="description"></textarea>
                        <div class="invalid-feedback">Add a short description</div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Img</label>
                        <input name="listing[image][url]" type="file" class="form-control" id="image" required>
                    </div>
                            <div class="row">
                                <div class="mb-3 col-md-4">
                                    <label for="price" class="form-label">Price</label>
                                    <input name="listing[price]" placeholder="1200" type="number" class="form-control"
                                        required id="price">
                                    <div class="invalid-feedback">Price Should be vaild</div>
                                </div>

                                <div class="mb-3 col-md-8">
                                    <label for="country" class="form-label">Country</label>
                                    <input name="listing[country]" placeholder="India" type="text" class="form-control"
                                        required id="country">
                                    <div class="invalid-feedback">Country name Should be vaild</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="Loaction" class="form-label">Loaction</label>
                                <input name="listing[location]" placeholder="Delhi,Mumbai" type="text"
                                    class="form-control" required id="Loaction">
                                <div class="invalid-feedback">Loaction Should be vaild</div>
                            </div>

                            <button class="btn btn-dark add-btn mt-3">Add</button>
                            <br> <br>
                </form>
    </body>
    </div>
    </div>